@import url('https://fonts.googleapis.com/css2?family=Suez+One&family=Ubuntu:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
}
.header{
    background-color:skyblue;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
    padding: 0 20px 0 25px;
    font-family: 'Ubuntu', sans-serif;
}

.logo-text{
    margin-left: 20px;
}
.nav{
    width:70%;
}
.nav a{
    color:red;
    text-decoration: none;
    font-weight: bold;
    margin-right: 15Px;
}
.profileContainer span{
    margin-right: 25px;
    font-weight: bold;
}
.profile-icon{
    color:orangered;
}
.main{
    padding: 50px 30px 0 30px;
}
.trendingProducts{
    background-color: rgb(235, 235, 235);
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    border: 1px solid black;
    padding: 10px;
    font-family: 'Ubuntu', sans-serif;
}
.products{
    display: flex;
    flex-direction: column;
    text-align: center;
    margin-bottom: 20px;
}
.products img{
    width: 300px;
    height: 80%;
}
.products span{
    font-weight: bold;
}
.productDescription{
    display: flex;
    flex-direction: column;
}
.Buy-now-button{
    background-color: black;
    height:30px;
}
.Buy-now-button a{
    color:white;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
}
.bottomContainer{
    display: flex;
    justify-content: center;
    margin-top: 30px;
}
.bottomContainer div{
    background-color: black;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    padding: 0 20px 0 20px;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.bottomContainer div a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}
.singleproduct{
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    padding: 100px;
    display: flex;
}
.bagcontainer,.bagdetails{
    width:40%;
}
.bagcontainer img{
    width: 100%;
}
.bagdetails{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.bagdetails-container1 h2 ,.bagdetails-container1 p{
    margin-bottom: 20px;
    font-family: 'Ubuntu', sans-serif;
}
.bagdetails-container1 .price{
    font-weight: bold;
    font-size: 20px;
}
.bagdetails-container2 button{
    background-color: black;
    color: white;
    padding: 20px;
    border-radius: 30px;
    font-family: 'Ubuntu', sans-serif;
}
.formcontainer{
    width:30vw;
    border:1px solid black;
    display: flex;
    justify-content: center;
    box-shadow: 2px 2px 7px 2px rgba(0,0,0,0.5);
    font-family: 'Ubuntu', sans-serif;
    
}
.form{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
form{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.form div{
    text-align: center;
    border-bottom: 3px solid black;
    color: red;
}
form input{
    width:80%;
    height:20px;
    padding: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    border-radius: 3px;
    border: none;
    outline: none;
    border-bottom: 2px solid black;
}
.form button{
    margin: 20px 0 20px 0;
    background-color: black;
    color:white;
    padding:15px;
    width: 62%;
    border-radius:30px;
    font-family: 'Ubuntu', sans-serif;
}

/* ............................responsive style starts from here....................................................................................... */
/* For form.html */

@media (max-width:810px){

    .formcontainer{
        width:50vw;
    }
}
@media (max-width:450px){
    .formcontainer{
        width:90vw;
        margin: 15px auto;
    }
}
/* for singleproduct.html */
@media (max-width:930px){
    .bagcontainer,.bagdetails{
        width:70%;
    }
}
@media (max-width:780px){
    .singleproduct{
        flex-direction: column;
        align-items: center;
        padding: 40px;
    }
    .bagcontainer{
        display: flex;
        justify-content: center;
    }
    .bagcontainer img{
        width: 80%;
        margin-bottom: 20px;
    }
    .bagdetails-container2 button{
        background-color: black;
        color: white;
        padding: 15px;
        border-radius: 30px;
        margin-top: 20px;
    }
}
@media (max-width:414px){
    .singleproduct{
        padding: 10px;
    }
        
    .bagdetails-container2 button{
        background-color: black;
        color: white;
        padding: 10px;
        border-radius: 20px;
        margin-top: 20px;
    }
}
/* FOR index.html */
@media (max-width:850px){
    .nav{
        width: auto;
    }
}
@media (max-width:650px){
    .header{
        flex-direction: column;
        height: 80px;
    }
    .profileContainer{
        /* width: 100%; */
        align-self:flex-end;
    }
    .profileContainer span{
        margin-right: 10px;
    }
    .logo{
        align-self: flex-start;
    }
    .logo-text{
        margin-left: 0px;
    }
    .nav{
        width: 100%;
    }
    .nav a{
        margin-right: 10px;
    }
    .nav a:last-child{
        margin-right: 0px;
    }
    .bottomContainer div{
        padding: 0 15px;
        height: 30px;
    }
    .bottomContainer div a{
        font-size: 13px;
    }
    .products img{
        width:200px;
    }

}